@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

/* global.css or index.css */
:root {
  /* Light Theme (default) */
  --primary-color: #0d52ff; /* Soft blue */
  --secondary-color: #3b82f680; /* Bright yellow */
  --accent-color: #5d5d69; /* Strong red */
  --background-color: #ffffff; /* Light grayish */
  --text-color: #121118;
  --shadow-color: #94a3b8; /* Darker grayish blue */
}

/* Dark Mode */
.dark-mode {
  --primary-color: #0d52ff; /* Deep blue */
  --secondary-color: #3b82f680; /* Soft orange */
  --accent-color: #d1d5db; /* Light red */
  --background-color: #121118; /* Dark background */
  --text-color: #ffffff; /* Soft light gray */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 1s 0.5s;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes trailAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
