@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 0;
    background-color: rgba(255, 0, 0, 1); /* Start with red */
  }
  30% {
    transform: scale(1.5);
    background-color: rgba(255, 165, 0, 1); /* Orange */
  }
  50% {
    transform: scale(2);
    opacity: 1;
    background-color: rgba(255, 255, 0, 1); /* Yellow */
  }
  60% {
    transform: scale(3);
    opacity: 0.8;
    background-color: rgba(0, 255, 0, 1); /* Green */
  }
  90% {
    transform: scale(4);
    opacity: 0.5;
    background-color: rgba(0, 0, 255, 1); /* Blue */
  }
  100% {
    transform: scale(0);
    opacity: 0;
    background-color: rgba(255, 0, 255, 1); /* Pink */
  }
}

.explode {
  animation: explode 3s ease forwards; /* Adjust duration as needed */
}


.slide {
  animation: explode 5s ease-in-out infinite; /* Loop the animation */
}
